.header {
    font-family: "Inter var", ui-sans-serif, system-ui, system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 5rem;
    background-color: #111e27;
  }
  
.navcontainer{
  font-family: "Inter var", ui-sans-serif, system-ui, system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #111e27;
  text-align: center;
}
  
.header ul {
    width: 300px;
    list-style: none;
    padding: 0px;
    margin: auto;
}
  
.header li {
    display: inline;
    padding-top: 10px;
    text-decoration: underline;
    text-decoration-color:#ff715b;
    text-decoration-thickness: 4px;
    text-underline-offset:8px;
}
  
.header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #d5d5d5;
}
  
.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

#logo {
    font-size: 18pt;
    color: #d5d5d5;
    font-weight: bold;
    text-decoration: none;
}

#logo:hover{
    color: white;
}
  
.MobileNavigation{
  display: none;
}

@media (max-width: 800px){
  .Navigation{
    display: none;
  }

  .MobileNavigation{
    display: flex;
    height: 35px;
  }

  .Hamburger{
    position: absolute;
    right: 2%;
    cursor: pointer;
    margin-top: 13px;
    color: #d5d5d5;
  }

  .Hamburger:hover{
    color: white;
  }

  .header ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    right: 200px;
    background: #111e27;
    padding-bottom: 20px;
  }

  .header nav ul li a{
    padding-right: 3%;
    text-decoration-color: #ff715b;
  }

}